<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="903e59ab-819c-4900-a235-17d15a3b7963" Publisher="CN=Angel" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="903e59ab-819c-4900-a235-17d15a3b7963" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RestaurantManager.UniversalWindows</DisplayName>
    <PublisherDisplayName>Angel</PublisherDisplayName>
    <Logo>Assets/StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RestaurantManager.UniversalWindows.App">
      <uap:VisualElements DisplayName="RestaurantManager.UniversalWindows" Square150x150Logo="Assets/LargeSquareLogo.png" Square44x44Logo="Assets/SmallSquareLogo.png" Description="RestaurantManager.UniversalWindows" BackgroundColor="transparent">
        <uap:DefaultTile ShortName="Restaurant Manager">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets/SplashScreen.png" BackgroundColor="#000000" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>